/* precss */
.p0 { padding: 0; }
.p4 { padding: 4px; }
.p8 { padding: 8px; }
.p16 { padding: 16px; }

.pt0 { padding-top: 0; }
.pt4 { padding-top: 4px; }
.pt8 { padding-top: 8px; }
.pt16 { padding-top: 16px; }

.pr0 { padding-right: 0; }
.pr4 { padding-right: 4px; }
.pr8 { padding-right: 8px; }
.pr16 { padding-right: 16px; }

.pb0 { padding-bottom: 0; }
.pb4 { padding-bottom: 4px; }
.pb8 { padding-bottom: 8px; }
.pb16 { padding-bottom: 16px; }

.pl0 { padding-left: 0; }
.pl4 { padding-left: 4px; }
.pl8 { padding-left: 8px; }
.pl16 { padding-left: 16px; }

.m0 { margin: 0; }
.m4 { margin: 4px; }
.m8 { margin: 8px; }
.m16 { margin: 16px; }

.mt0 { margin-top: 0; }
.mt4 { margin-top: 4px; }
.mt8 { margin-top: 8px; }
.mt16 { margin-top: 16px; }

.mr0 { margin-right: 0; }
.mr4 { margin-right: 4px; }
.mr8 { margin-right: 8px; }
.mr16 { margin-right: 16px; }

.mb0 { margin-bottom: 0; }
.mb4 { margin-bottom: 4px; }
.mb8 { margin-bottom: 8px; }
.mb16 { margin-bottom: 16px; }

.ml0 { margin-left: 0; }
.ml4 { margin-left: 4px; }
.ml8 { margin-left: 8px; }
.ml16 { margin-left: 16px; }

.g0 { gap: 0; }
.g4 { gap: 4px; }
.g8 { gap: 8px; }
.g16 { gap: 16px; }

.w100 { width: 100%; }
.h100 { height: 100%; }

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.grid { display: grid; }

.flex-column { flex-direction: column; }
.flex-center { justify-content: center; align-items: center; }

.justify-start { justify-content: start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.justify-between { justify-content: space-between; }

.justify-self-start { justify-self: start; }
.justify-self-center { justify-self: center; }
.justify-self-end { justify-self: end; }

.align-start { align-items: start; }
.align-center { align-items: center; }
.align-end { align-items: end; }
.align-between { align-items: space-between; }

.align-self-start { align-self: start; }
.align-self-center { align-self: center; }
.align-self-end { align-self: end; }

.flex-1 { flex: 1; }
.no-shrink { flex-shrink: 0; }

.pointer { cursor: pointer; }
.no-select { user-select: none; }
.one-one { aspect-ratio: 1 / 1; }

.top { top: 0; }
.left { left: 0; }
.right { right: 0; }
.bottom { bottom: 0; }

.no-border { border: 0; }
.no-outline { outline: 0; }

.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }

.overflow-hide { overflow: hidden; }
.overflow-scroll { overflow: scrolll; }
.ellipsis { white-space: nowrap; text-overflow: ellipsis; }

.text-16 { font-size: 16px; }
.text-32 { font-size: 32px; }
.text-48 { font-size: 48px; }